<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to WishMeOnMyBirthday Team</title>
</head>
<body>
<div id="contain">
  {% load static %}
  <h1 id="name">Welcome to Wish Me On My Birthday Page</h1>
  <link rel="stylesheet" type="text/css" href='{% static "css/index.css" %}'>
  <img src='{% static "images/image11.jpeg" %}' width="1350" height="636">
  <a href="/signup/"><button class="button" id="signup"><span>Register </span></button></a>
  <a href="/login/"><button class="button" id="login"><span>Login </span></button></a>
</div>
</body>
</html>